/**Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/** Variaveis */
:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;
  --title: #313131;
  --text: #b6b6b6;
  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

/** Cabeçalho */
.inicio {
  width: 100%;
  height: 12.5rem;
  background: var(--linear);
} /**box do header*/

.box {
  margin: 0 auto;
  width: 900px;
}
/** News Letter  BLOG */
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--white);
  font-weight: bold;
  padding-top: 5%;
}
/** Pesquisa motor de busca */
.text-center {
  left: 50%;
  position: absolute;
  z-index: -1;
}
/** Conteudo Principal */
#pesquisa {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--blue);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 24px 24px 24px 48px; /** 0 top, 12 right, 0 bottom, 30 left*/
  left: 0;
  font-size: 1.1rem;
  color: var(--white);
}
/** Label */
.zoom {
  width: 900px;
}
/** Logo da img */
.logo {
  left: 12px;
  text-indent: initial;
  display: block;
  position: absolute;
}
/** Formatação do input*/
label[for="pesquisa"] {
  display: flex;
  place-items: center;
  position: relative;
  margin: 20px auto 0px;
  width: 100%;
  text-indent: -300px;
}
/** coloração da cor do input */
input::placeholder {
  color: #fff;
}
/** box que que segura o aninhamento */
.conteudo {
  background-color: #eee;
  max-width: 100%;
  margin: 0 auto;
}
/** Conteudo Principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #eee;
}
/** Card */
.caixa {
  height: 12rem;
  width: 900px;
  background-color: #fff;
  margin-top: 2.5rem;
  padding: 1.25rem;
}
/** ultimo card */
.caixa:last-child {
  margin-bottom: 1.25rem;
}
/** DATA + LOGO */
.navegacao {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--text);
  padding: 0.625rem;
}
/** Titulo das mensagens */
.titulo {
  padding: 0.625rem 0.625rem;
  font-size: 1.375rem;
  color: var(--title);
}
/** Paragrafos */
.paragrafo {
  color: var(--text);
  padding: 0px 0px 0px 0.625rem;
}

/**Primeiro breakpoint*/
@media (max-width: 900px) {
  .inicio {
    min-width: 550px;
  }
  .box {
    max-width: 600px;
  }
  .container {
    max-width: 600px;
  }
  #pesquisa {
    max-width: 600px;
  }
  .caixa {
    max-width: 600px;
  }
  input {
    max-width: 600px;
  }
  .zoom {
    max-width: 600px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
  }
  .card {
    max-width: 500px;
  }
}
/** Segundo breakpoint */
@media (max-width: 600px) {
  .inicio {
    min-width: 370px;
  }
  .box {
    max-width: 370px;
  }
  .container {
    max-width: 370px;
  }
  #pesquisa {
    max-width: 370px;
  }
  .caixa {
    max-width: 370px;
    height: 100%;
  }

  input {
    max-width: 370px;
  }
  .zoom {
    max-width: 370px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 370px;
  }
  .card {
    max-width: 370px;
  }
}
/** terceiro breakpoint */
@media (max-width: 370px) {
  .inicio {
    min-width: 280px;
  }
  .box {
    max-width: 280px;
  }
  .container {
    max-width: 280px;
  }
  #pesquisa {
    max-width: 280px;
  }
  .caixa {
    max-width: 280px;
    height: 100%;
  }
  input {
    max-width: 280px;
  }
  .zoom {
    max-width: 280px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
  }
  .card {
    max-width: 280px;
  }
}
